body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header styling */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
   footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 25px;
  }
  
  
  /* Main content area styling */
  main {
    padding: 20px;
    flex: 1;
  }
  
  /* Search container styling */
  .search-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #44505c;
  }
  
  /* Results container styling #0056b3;*/
  .results-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns layout by default */
    gap: 20px;
    padding: 10px;
    margin-top: 40px;;
  }
  
  .meal {
    background-color: #f9f9f9;
    border: 1px solid #6b96e6;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.5);
  }
  
  .meal-info {
    padding: 20px;
  }
  
  .meal:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Show All button styling */
  .show-all-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }
  
  .show-all-button:hover {
    background-color: #44505c;
  }
  
  /* Media queries */
  @media only screen and (max-width: 600px) {
    /* Single column layout for phones */
    .results-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Two columns layout for tablets */
    .results-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    /* Four columns layout for laptops */
    .results-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media only screen and (min-width: 1201px) {
    /* Five columns layout for extra-large devices */
    .results-container {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  
